{% extends 'base.html.twig' %}
{% block title %} {{ title }} {% endblock %}
{% block stylesheets %}{% include ('stylesheet.html.twig') %}{% endblock %}
{% block body %}<h1>Hellow world, git rekt</h1> {% endblock %}