{% extends 'base.html.twig' %}
{% block title %} {{ title }} {% endblock %}
{% block stylesheets %}{% include ('stylesheet.html.twig') %}{% endblock %}
{% block body %}
    {% include ('menu.html.twig') %}
    <h1>私はエマヌエレです</h1>
{% endblock %}